.boxrow{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.box{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:100px;    
    margin:1px;
    background-color: rgb(169, 196, 193);
    font-size: xx-large;
    border:1px;
    border-style: solid;
    
}

h2{
    color:red;
    font-weight: bold;
}
